

/* theme */
.light {
  filter: invert(100%) hue-rotate(180deg);
  transition:1s all;
}
.light img:not(.icon, .icon_no) {
  filter: invert(100%) hue-rotate(180deg);
  --transition:1s all;
}

.light body {
  transition:1s all;
}

.dark {
  transition:1s all;
}

/* scroll */
/* messages */
.messages_list_class::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.messages_list_class::-webkit-scrollbar-track {
  background: #222226;
}

.messages_list_class::-webkit-scrollbar-thumb {
  background-color: #808080;
}
/* server list */
.servers_list_container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.servers_list_container::-webkit-scrollbar-track {
  background: #222226;
}

.servers_list_container::-webkit-scrollbar-thumb {
  background-color: #808080;
}

/* settings list */
.settings_list::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.settings_list::-webkit-scrollbar-track {
  background: #222226;
}

.settings_list::-webkit-scrollbar-thumb {
  background-color: #808080;
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

p {
  color: #808080; /* Цвет текста */
}

h1 {
  color: #808080; /* Цвет текста */
}

h2 {
  color: #808080; /* Цвет текста */
}

h3 {
  color: #808080; /* Цвет текста */
}

a {
  color: #808080; /* Цвет ссылок */
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
}

textarea:focus, input:focus{
  outline: none;
}

.background {
  position: fixed;

  left: 0px;
  top: 0px;

  width: 100%;
  height: 100%;

  background-color: #222226;
}

.vl_height {
  border-left: 2px solid #808080;
  height: 100%;
  position: absolute;
  margin-left: -3px;
  top: 0;
}

.vl_width {
  border-top: 2px solid #808080;
  position: fixed;
  margin-left: -3px;
  --top: 0;
}

/* messages */
.message_input_container {
  position: absolute;
  bottom: 1px;
  left: 300px;
  color: #808080;
  border: 0;
  background-color: #222226;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  width: 800px;
  height: 38px;

}

.messages_list_class {
  position: fixed;
  --overflow: auto;
  overflow-y: scroll;
  left: 200px;
  bottom: 55px;
  width: 1080px;
  height: 610px;
  scroll-behavior: smooth;

}

.message_class {
  position: relative;
  top: 0%;
  width: 98.5%;
  --height: 90px;
  --min-height: 60px;
  background-color: #222226;
  margin: 5px 0;

}

.message_class:hover {
  background-color: #26262A;
}

.message_username_class {
  position: absolute;
  left: 70px;
  top: -8px;
}

.message_text_class {
  position: absolute;
  left: 70px;
  top: 20px;
  --margin: -20px 70px;
}

.message_time_class {
  position: absolute;
  right: 10px;
  margin: -50px 0px;
}

.message_input_container:hover {
  transition:0.2s all;
  --background-color: #39393C;
}

/* servers */
.servers_list_container {
  position: fixed;
  overflow-y: scroll;

  direction: rtl;

  left: 0px;
  top: 55px;
  width: 200px;
  height: 610px;
}

.server_container {
  position: relative;
  width: 200px;
  height: 50px;
  background-color: #39393C;
  transition:0.2s all;
  cursor: pointer;
}

.server_container:hover {
  background-color: #3B3B3F;

}

.add_channel_container {
  position: relative;

  width: 200px;
  height: 40px;

  background-color: #39393C;
  transition:0.2s all;
  cursor: pointer;
}

.add_channel_container:hover {
  background-color: #3B3B3F;

}

/*  */
.top_bar_container {
  background-color: #39393C;
  position: fixed;
  left: 0px;
  width: 100%;
  height: 55px;
  top: 0px;
}

.left_bar_container {
  background-color: #353538;
  position: fixed;
  left: 0px;
  width: 200px;
  height: 100%;
  top: 0px;

}

.bottom_bar_container {
  background-color: #39393C;
  position: fixed;
  left: 0px;
  width: 100%;
  height: 55px;
  bottom: 0px;
}

/* user */
.user_container {
  position: fixed;
  left: 0px;
  top: 0px;

  background-color: #353538;
  transition:0.2s all;

  width: 200px;
  height: 55px;

  cursor: pointer;

}

.user_container:hover {
  background-color: #313135;

}

/* settings */
.settings_container {
  position: fixed;
  left: 0px;
  bottom: 0px;

  background-color: #353538;
  transition:0.2s all;

  width: 200px;
  height: 55px;

}

.settings_container_:hover {
  background-color: #313135;

}

.settings_background {
  position: fixed;

  top: 55px;
  right: 0px;

  background-color: #323236;

  width: 450px;
  height: 665px;

  transition: 0s all;

}

.settings_exit_button {
  position: absolute;

  right: 10px;
  top: -48px;

  width: 120px;
  height: 40px;

  border-radius: 10px;
  background-color: #222226;
  transition:0.2s all;
  cursor: pointer;

}

.settings_exit_button:hover {
  background-color: #2C2C2F;

}

.settings_list {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;

  left: 0px;
  top: 0px;
  width: 450px;
  height: 665px;

}

.settings_list_::-webkit-scrollbar {
  width: 0;
}

.settings_profile {
  width: 428px;
  height: 150px;
  left: 10px;
  position: absolute;
  border-radius: 5px;
  background-color: #222226;
}

.settings_profile_information {
  width: 310px;
  height: 30px;
  position: absolute;
  border-radius: 5px;
  background-color: #2C2C2F;
}

.settings_parametr {
  left: 10px;
  position: relative;
}

.settings_server_input {
  position: absolute;
  left: 10px;
  color: #808080;
  border: 0;
  background-color: #222226;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  width: 310px;
  height: 38px;
}

/* icons */
.icon {
  filter: invert(40%);
  transition:0.2s all;
}

.icon:hover {
	filter: invert(50%);
}
