<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  	<title>[ STONE CHAT ]</title>

  </head>

  <body style="font: 13px Helvetica, Arial; margin:0 auto;" bgcolor="#222226">
    <!--channel info-->
    <div class="top_bar_container">
      <h1 align="center">< CHAT NAME ></h1>
    </div>

    <!--messages list-->
    <div class="messages_list_class">
      <ul>
        <li>
          <div class="message_class">
            <p>123</p>
          </div>
        </li>

      </ul>
    </div>

    <!--message input-->
    <div class="bottom_bar_container">
	    <input class="message_input_container" type=text placeholder="message...">

    </div>

    <!--channels list-->
    <div class="left_bar_container">

    </div>

  </body>
  <script type="text/javascript">

  </script>
</html>
